Flask==1.1.1
Werkzeug==0.16.0
imutils==0.5.3
face_recognition==1.2.3
graphene==2.1.8
numpy==1.17.2
scipy==1.3.1
graphene_mongo==0.2.8
opencv_contrib_python==4.1.1.26
mongoengine==0.18.2
matplotlib==3.1.1
Flask_GraphQL==2.0.0
