aniso8601==7.0.0
appdirs==1.4.3
attrs==19.1.0
black==19.3b0
Click==7.0
Flask==1.1.1
Flask-GraphQL==2.0.0
graphene==2.1.8
graphene-mongo==0.2.8
graphql-core==2.2.1
graphql-relay==2.0.0
graphql-server-core==1.1.1
iso8601==0.1.12
itsdangerous==1.1.0
Jinja2==2.10.1
MarkupSafe==1.1.1
mongoengine==0.18.2
mongomock==3.18.0
numpy==1.17.2
opencv-python==4.1.1.26
promise==2.2.1
pymongo==3.9.0
Rx==1.6.1
sentinels==1.0.0
singledispatch==3.4.0.3
six==1.12.0
toml==0.10.0
Werkzeug==0.16.0
